<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="" class="nav-link px-2 text-secondary"><i class="fa fa-user-o mx-2" aria-hidden="true"></i>Ver</a></li>
        <li><a routerLink="ingresar" class="nav-link px-2 text-white"><i class="fa fa-pencil mx-2" aria-hidden="true"></i>Crear</a></li>
      </ul>
    </div>
  </div>
</header>